<div class="container">
  <h1>pomodoro</h1>

  <ul class="lista-opcoes" >
    <li class="lista-elemento"><button [class.botao-elemento]="abaSelecionada == 'pomodoro'" (click)="eventoSelecionado('pomodoro')">pomodoro</button></li>
    <li class="lista-elemento"><button [class.botao-elemento]="abaSelecionada == 'shortBreak'" (click)="eventoSelecionado('shortBreak')">short break</button></li>
    <li class="lista-elemento"><button [class.botao-elemento]="abaSelecionada == 'longBreak'" (click)="eventoSelecionado('longBreak')">long break</button></li>
  </ul>
<div class="container-cronomoetro">
  <div class="module-border-wrap">
    <div class="cronometro">
      <div class="a">
        <span class="infos" [ngSwitch]="abaSelecionada">
          <h2 *ngSwitchCase="'pomodoro'">{{cronometro.pomodoro.minutos}}:{{cronometro.pomodoro.segundosRestantes}}</h2>
          <h2 *ngSwitchCase="'longBreak'">{{cronometro.longBreak.minutos}}:{{cronometro.longBreak.segundosRestantes}}</h2>
          <h2 *ngSwitchCase="'shortBreak'">{{cronometro.shortBreak.minutos}}:{{cronometro.shortBreak.segundosRestantes}}</h2>
          <button (click)="executarCronometro()"   *ngIf="iniciar">INICIAR</button>
          <button (click)="alterarPlay()"  *ngIf="!iniciar">PAUSE</button>

        </span>
      </div>
    </div>
  </div>
</div>


<button class="engrenagem" (click)="configuracoes()">
  <img src="../../assets/engrenagem (1).png" alt="">
</button>


</div>

<dialog>
  <div class="container-conf">
    <h1 >Configurações</h1>
    <h3 >Tempo</h3>

    <div class="container-cronometros">

      <div>
        <label class="conf" for="quantidade">Pomodoro</label>
        <input type="number" min="1" max="50" [(ngModel)] = "tempoConfigurar.pomodoro">
      </div>

      <div>
        <label class="conf"for="quantidade">Short Break</label>
        <input type="number" min="1" max="50" [(ngModel)] = "tempoConfigurar.shortBreak">
      </div>

      <div>
        <label class="conf" for="quantidade">Long Break</label>
        <input type="number" min="1" max="50" [(ngModel)] = "tempoConfigurar.longBreak">
      </div>
    </div>


      <button (click)="aplicaConfiguracoes()" class="aplicar">Aplicar</button>
  </div>
</dialog>
